.card-main {
    background-color: #fff;
    width: 40vw;
    height: 40vh;
    border: 1px #000 solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 15px; */
  }
  .campo-lgpw{
    min-width: 100px;
    width: 20vw;
  }